$primary-color: #3498db;
$secondary-color: #2e8b57;
$tertiary-color: #ff6347;
$quaternary-color: #9370db;
$quinary-color: #ffd700;
$senary-color: #ffa500;
$septenary-color: #ff4500;
$octonary-color: #ff0000;
$nonary-color: #8b0000;
$denary-color: #8b0000;
